.reply-message-container{
    grid-row: 1 / 2;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reply-message{
    background-color: hsl(208, 61%, 20%);
    width: 70%;
    padding: 2px;
    display: flex;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}


textarea{
    padding: 5px;
    resize: none;
    width: 90%;
    border-radius: 10px 0 0 10px;
    background-color: hsl(208, 50%, 33%);
    color: white;
    font-size: 1em;
}
button{
    width: 10%;
    border-radius: 0 10px 10px 0;
    border: 0;
    background-color: hsl(208, 61%, 20%);
    color: hsl(208, 59%, 83%);
    font-size: 1em;
}
button:hover{
    cursor: pointer;
}

::placeholder {
    color: white;
    font-size: 1em;
}
.reply-to{
    background-color: hsl(208, 61%, 15%);
    width: 70%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}
.reply-to span{
    padding: 5px;
    color: rgba(255, 255, 255, .5);
}