.header-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: hsl(208, 61%, 20%);
    z-index: 1;
 }

.search-icon-container{
    position: absolute;
    right: 10px;
    top: 10px;
}
.search-icon-container > *{
    padding: 0 10px;
}

.header-text{
    color: white;
}
.search, .menu{
    color: white;
    font-size: 20px;
}
.search:hover, .menu:hover{
    cursor: pointer;
}
.search-input{
    display: none;
}
.search-input.active {
    display: inline-block;
}

.burger-menu{
    position: absolute;
    left: 10px;
    top: 10px;
}

.sort-by{
    background-color: hsl(208, 50%, 33%);
    display: none;
    position: absolute;
    top: 20px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    color: white;
}

.sort-by ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sort-by ul li{
    padding: 10px;
}

.sort-by li:hover{
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}
.sort-by.activeMenu{
    display: inline-block;
}